footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
  font-size: 10px;
  text-align: center;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer img {
  height: 50px;
  width: 100px
}

.footer-logo > div > div {
  display: flex;
  justify-content: center;
}