/* below the fold CSS goes here */

@font-face {
    font-family: 'Open Sans';
    src: url('../icons/fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('woff');
}

header nav {
    margin: unset;
}
header .nav-brand {
    flex-basis: max-content;
}


/* footer */

.footer-wrapper .footer .footer-logo div {
    text-align: center;
}


.footer-wrapper .footer .footer-logo div img {
    width: 100px;
    height: 75px;
}

.footer-wrapper .footer p {
    text-align: center;
    font-size: 10px;
}
