/* below the fold CSS goes here */

header nav {
    margin: unset;
}
header .nav-brand {
    flex-basis: max-content;
}


/* footer */

.footer-wrapper .footer .footer-logo div {
    text-align: center;
}


.footer-wrapper .footer .footer-logo div img {
    width: 100px;
    height: 75px;
}

.footer-wrapper .footer p {
    text-align: center;
    font-size: 10px;
}
